<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zyb.myWeather">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <application
        android:name=".activity.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/dst_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
        </activity>
        <activity android:name=".activity.CityManagerActivity"></activity>
        <activity android:name=".activity.SerachCityActivity"></activity>
        <activity android:name=".activity.MainActivity"
            android:theme="@android:style/Theme.Holo.Light">
        </activity>
    </application>

</manifest>